@charset "UTF-8";

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* ==========================
   Admin Login Bar
   ========================== */

.admin-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 14px 0;
}

/* ==========================
   Layout / Area Utilities
   ========================== */

/*
#main .inner {
    min-height: calc(100vh - 10rem);
}
*/


.inner {
    padding: 0 1.5rem;
}

.max {
    max-width: 100%;
}

.img {
    width: 100%;
}

/* ==========================
   Header
   ========================== */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    transition: background 0.3s;
    border-bottom: 1px solid #dcdcdc;
}
#header .header-container {
    position: relative;
}

#header.expand {
    background: #f8f8f8;
}

#header.expand #allMenu {
    display: block;
}

#header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 24px;
}

#header .logo {
    width: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .logo a {
    color: #111;
    font-weight: bold;
    font-size: 2.4rem;
    text-decoration: none;
}

#header .navi-list {
    display: flex;
    gap: 0 14px;
    align-items: center;
}

#header .navi-item {
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
}

#header .navi-item a {
    display: block;
    width: 100%;
    height: 100%;
}

#header .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

#header .basket-count {
    font-size: 1.6rem;
}



/* ==========================
   All Menu Button
   ========================== */

#btnAllMenu,
#btnAllMenu span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}

#btnAllMenu {
    position: relative;
    width: 34px;
    height: 30px;
    background: #fff;
    border: 0;
    cursor: pointer;
    outline: 0;
}

#btnAllMenu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #111;
    border-radius: 3px;
}

#btnAllMenu span:nth-of-type(1) { top: 0; }
#btnAllMenu span:nth-of-type(2) { top: 13px; }
#btnAllMenu span:nth-of-type(3) { bottom: 0; }

/* Active Animation */

#btnAllMenu.active span:nth-of-type(1) {
    top:2px;
    animation: active-menu-01 0.75s forwards;
}

#btnAllMenu.active span:nth-of-type(2) {
    opacity: 0;
}

#btnAllMenu.active span:nth-of-type(3) {
    bottom:-2px;
    animation: active-menu-02 0.75s forwards;

}

@keyframes active-menu-01 {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(16px) rotate(0); }
    100% { transform: translateY(12px) rotate(45deg); }
}

@keyframes active-menu-02 {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(-16px) rotate(0); }
    100% { transform: translateY(-16px) rotate(-45deg); }
}

/* Deactive Animation */

#btnAllMenu.deactive span:nth-of-type(1) {
    animation: deactive-menu-01 0.75s forwards;
}

#btnAllMenu.deactive span:nth-of-type(2) {
    opacity: 1;
}

#btnAllMenu.deactive span:nth-of-type(3) {
    animation: deactive-menu-02 0.75s forwards;
}

@keyframes deactive-menu-01 {
    0% { transform: translateY(12px) rotate(45deg); }
    50% { transform: translateY(16px) rotate(0deg); }
    100% { transform: translateY(0) rotate(0); }
}

@keyframes deactive-menu-02 {
    0% { transform: translateY(-16px) rotate(-45deg); }
    50% { transform: translateY(-16px) rotate(0deg); }
    100% { transform: translateY(0) rotate(0); }
}

/* ==========================
   Search Form
   ========================== */

.search-form {
    position: absolute;
    width: 0;
    right: 5.5rem;
    border-radius: 5.5rem;
    background: #f1f1f1;
    /*transition: all 0.3s ease-in-out;*/
    overflow: hidden;
    opacity: 0;
    z-index: 999;
}

.search-form form {
    display: flex;
    align-items: center;
    height: 2.8rem;
}

.search-form.deactive {
    animation: search-form-none 0.45s forwards;
}
.search-form.active {
    animation: search-form-active 0.45s forwards;
}

@keyframes search-form-none {
    0% { opacity: 1; width: 16rem; }
    100% { opacity: 0; width: 0; }
}

@keyframes search-form-active {
    0% { opacity: 0; width: 0; }
    100% { opacity: 1; width: 16rem; }
}

.search-form input[type="search"] {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    outline: 0;
    padding-left: 20px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button {
    margin-right: 1rem;
    cursor: pointer;
}

/* ==========================
   All Menu List : 전체메뉴
   ========================== */

#allMenu {
    display: none;
    background: #f8f8f8;
}

#allMenu li {
    transition: all 0.3s ease-in-out;
}
#allMenu li:nth-child(1) {}
#allMenu li:nth-child(2) {}
#allMenu li:nth-child(3) {}
#allMenu li:nth-child(4) {}
#allMenu li:nth-child(5) {}


#allMenu li:hover {
    padding-left: 1.4rem;
}

#allMenu li:not(:last-child) {
    margin-bottom: 1rem;
}

#allMenu li a {
    font-size: 2.8rem;
    color: #000;
    text-decoration: none;
}

/* ==========================
   Footer
   ========================== */

#footer .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
    margin-top: 10rem;
}

#footer .footer-box * {
    font-size: 1.2rem;
}

#footer .desc {
    font-size: 2.2rem;
    line-height: 1.2;
}
#footer .copyright {
    display: flex;
    opacity: 0.5;
    margin-top: 1rem;
}

#footer .copyright p {
    margin: 0 0.2rem;
}


#main,
.container{
    padding-top: 113px;
}
