@charset "UTF-8";

/* 메인페이지 : 메인배너 */
.main-banner {

}
#mainBanner {
    max-height: 500px;

}
.main-banner .swiper-button-next,
.main-banner .swiper-button-prev {
    color: #000;
}
.main-banner .banner-img {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-banner .banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-banner .product-name {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: bold;
    color: #fff;
    z-index: 10;
}

.main-banner .product-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 100%);
}


div.container-fluid {
	margin-top: 200px;
}

.image-card {
    height: 270px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    margin: 20px 0;
  }

  .image-title {
    position: absolute;
    bottom: 30px;
	left: 20px;
    color: white;
    font-weight: bold;
    font-size:14pt;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }

  .notice-link {
    display: block;
    margin: 0 5px; 
  }

.image.title:hover {text-decoration:none}