@charset "UTF-8";

table#tblMemberRegister {
	border: solid 0px red;  
	width: 100%;
	margin: 0 auto;
}

table#tblMemberRegister > tbody > tr > td {
	border: solid 0px orange;
	line-height: 200%;
	padding: 1% 0;
}

table#tblMemberRegister label {
	border: solid 0px red;
	font-size: 14px;
	text-align: left;
	color: #666666;
}

input {
	border: solid 1px #e9ecef;
	border-radius: 3px;
	height: 45px;
	width: 100%;
	box-sizing: border-box;
}

input::placeholder {
	border: solid 0px green;
	font-size: 13px;
	color: #ced4da;
}

table#tblMemberRegister button {
	border: solid 0px orange;
	background-color: black;
	font-size: 14px;
	width: 100%;
	height: 45px;
	box-sizing: border-box;
}


table#tblMemberRegister td > div {
	display: flex;
	justify-content: space-between; 
	gap: 2%;                         
	width: 100%;                    
}

table#tblMemberRegister input[type="button"],
table#tblMemberRegister input[type="reset"] {
	width: 49%;           
	height: 45px;
	font-size: 14px;
	border: none;
	box-sizing: border-box;
}

span.star {
	color: #666666;
	font-size: 12pt;
}

label[for="agree"]{
	border: solid 0px green;
	font-size: 14px;
}

span.error {
	font-size: 14px;
	color : #f05650;
	display: block;
	margin-top: 5px;
	
}

span.help {
	border: solid 0px orange;
	font-size: 11px;
	color: #999999;
}

img#idcheck, img#zipcodeSearch {
	cursor: pointer;
}

span#emailcheck {
	border: solid 1px gray;
	border-radius: 5px;
	font-size: 8pt;
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}

.phoneGroup {
  	display: flex;
  	align-items: center;
  	gap: 2px;
}

.phoneGroup input[type="text"] {
  	width: 32%;
}

.zipCodeGroup,
.veriCodeGroup {
  	display: flex;
  	align-items: center;
  	gap: 6px;
}

.zipCodeGroup input[type="text"], 
.zipCodeGroup button,
.veriCodeGroup input[type="text"], 
.veriCodeGroup button {

	flex: 1;
  	height: 45px;                
  	padding: 8px 10px;          
  	font-size: 14px;
  	box-sizing: border-box;    
}    

  
