
@charset "UTF-8";

/* ==========================
   Product : 상품관련
   ========================== */

.product-list {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem 0;
}
.product-list li {
    position: relative;
    width: 25%;
}


.product-list .product-img {
    position: relative;
    width: 100%;
}
.product-list .product-img img {
    background: #f8f8f8;
    object-fit: cover;
}
.product-list .product-info {
    line-height: 1.4;
    margin-top: 1.1rem;
}
.product-list .product-name {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 0.2rem;
}
.product-list .product-price * {
    font-size: 16px;
    font-weight: 600;
}
.product-list .before_price {
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
    text-decoration: line-through;
}
.product-list .discout-rate {
    color: #ff0000;
    margin-right: 0.2rem;
}
.product-list .price {
    color: #000;
}

.product-list .product-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.product-list .btn-wish {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-image: url(../../images/common/icon/icon_wish.png);
    z-index: 22;
}
.product-list .btn-wish.active {
    background-image: url(../../images/common/icon/icon_wish_active.png);
}


@media screen and (max-width: 1024px){
    .product-list.type-4 li {
        width: 50%;
    }
}